<header class="header">
  <div class="header-content">
    <div class="logo">
      <svg width="32" height="32" viewBox="0 0 24 24" fill="#2E7D32">
        <path d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2Z"/>
      </svg>
      <span>Fieldworker Admin</span>
    </div>
    <div class="header-actions">
      <span class="user-name">👤 <%= user.name %></span>
      <a href="/logout" class="btn-logout">Logout</a>
    </div>
  </div>
</header>
